:root {
--bg-color: #1B1A18;
--white-text: gainsboro;
}

* {
border: 1px solid red;
}

html, body {
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;

}
.navbar {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: flex-end;
}

.navbar-logo {
    width: 80px;
}

.navbar a {
    display: flex;
    padding: 12px;
    color: var(--white-text);
    font-size: 18px;
}
/* Intro */
.intro {
    /* margin-top: 70px; */
    background-color: var(--bg-color);
    color: var(--white-text);
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 48px;
}

.intro-img {
    width: 60vw;
}
.intro ul {
    padding-left: 0%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.intro li {
 list-style-type: none;
 text-align: center;
 justify-content: center;
 /* margin: 0 auto; */
 font-size: 30px;
 font-weight: bold;
 flex-grow: 1;
    font-style: italic;
}

.intro-flex {
    display: flex;
    justify-content: space-around;
}
